.Video-wrap {
  padding: 10px;
  margin: 0;
  position: relative;
  background: #eee;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.Video-wrap.hovered {
  background: #222;
}

.Video {
  text-align: center;
  max-width: 100%;
  float: left;
}

.Video-caption {
  font-size: 40px;
  position: absolute;
  left: 0;
  top: calc(50% - 20px);
  text-align: center;
  height: 20px;
  width: 100%;
  color: #efefef;
}

.Video-rights {
  font-size: small;
  position: absolute;
  bottom: 20px;
  color: #efefef;
  text-shadow: 1px 1px 1px #222;
  right: 20px;
}
